@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Aleo&display=swap');
@import 'normalize.scss';
@import 'variables.scss';

body{
  max-width: 1770px;
  margin: auto;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  color: white;
}

a{
  text-decoration: none;
}

#head{
  text-align: center;
  height: 740px;
  background-image: url(../IMG/Imghead.jpg);
  background-position: center;
  font-size: 22px;
  h1{
    font-size: 48px;
    padding-top: 12%;
    padding-bottom: 0.5%;
    margin: 0;
  }
  p{
    margin: 0;
    letter-spacing: 4px;
  }
  form{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    input{
      display: inline-block;
      width: 500px;
      height: 60px;
      border: 2px solid white;
      box-sizing: border-box;
      padding-left: 9%;
      font-size: 16px;
    }
    button{
      display: inline-block;
      width: 145px;
      height: 60px;
      border: none;
      outline: none;
      border: 2px solid white;
      box-sizing: border-box;
      background-color: #5474fd;
      color: white;
      font-family: 'Aleo', serif;
      font-size: 14px;
      position: relative;
      &:active img{
        transform: scale(1.2);
      }
      img{
        display: inline-block;
        position: absolute;
        right: 10%;
        top: 34%;
      }
    }
  }
}

#scroll{
  margin: 10% auto 0;
  max-width: 125px;
  p{
    margin: 0;
    font-size: 14px;
    letter-spacing: 3px;
    color: white;
  }
}
#scroll:hover{
  transform: scale(1.1);
}

aside{
  height: 80px;
  background-color: #5474fd;
  #aside{
    max-width: 1110px;
    margin: 0 auto;
    }
   & a:nth-of-type(1){
     font-family: 'Aleo', serif;
     font-size: 24px;
     margin: 2.2% 32.75% 0 0%;
   }
   a{
    color: white;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 4%;
   }
   a:hover{
     color: rgba(0,0,0,.6);
  }
}

#aside2{
 display: none;
}

#section1{
  height: 680px;
  background-image: url(../IMG/trysect1.jpg);
  background-color: #473d35;
  background-position: center;
  font-size: 16px;
  line-height: 26px;
}

#sec1container{
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  div{
    max-width: 570px;
    letter-spacing: 3px;
    & p:nth-of-type(1){
      font-family: 'Aleo', serif;
      font-size: 36px;
      padding-top: 27%;
    }
   button{
    @include  button;
    margin-top: 2%;
   }
  }
}

#sec1grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 120px 220px 220px;
  gap: 5px 0;
 }

#foto1{
  height: 220px;
  width: 350px;
  background-image: url(../IMG/section1img1.jpg);
  background-position: center;
  grid-row: 2/ 3;
  grid-column: 2 / 5;
}

#foto2{
  height: 220px;
  width: 350px;
  background-image: url(../IMG/section1img2.jpg);
  background-position: center;
  grid-row: 3 / 4;
  grid-column: 3 / 6;
}

#section2{
  height: 335px;
  background-color: #333333;
}

#sect2div{
  max-width: 1110px;
  margin: 0 auto;
  font-family: 'Aleo', serif;
  font-size: 36px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  background-image: url(../IMG/sect2backg.svg);
  background-repeat: no-repeat;
  background-position: 47% 20%;
  div{
    margin-top: 10%;
  }
  a{
    color: white;
  }
  a:hover{
    opacity: 0.5;
    color: rgba(226, 231, 207, 0.7);
  }
}

#section3{
  height: 700px;
  background-image: url(../IMG/imgsection3.jpg);
  background-position: center;
}

#sect3div{
  max-width: 1110px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 230px 370px;
  div{
    grid-row: 2 / 3;
    @include div;
    p{
      padding-left: 4%;
    }
    p:nth-of-type(1){
      font-size: 20px;
      padding-top: 5%;
    }
    p:nth-of-type(2){
      font-size: 22px;
      font-family: 'Aleo', serif;
      text-transform: uppercase;
    }
    button{
      @include button;
      margin: 20px 0 0 20px;
    }

  }
}

#section4{
  height: 700px;
  background-image: url(../IMG/imgsection4.jpg);
  background-position: center;
}

#sect4div{
  max-width: 1110px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 230px 370px;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 25px;
  div{
    grid-column: 2 / 3;
    grid-row: 2/ 3;
    @include div;
    p{
      padding-left: 4%;
    }
    p:nth-of-type(1){
      font-size: 20px;
      padding-top: 5%;
    }
    p:nth-of-type(2){
      font-size: 22px;
      font-family: 'Aleo', serif;
      text-transform: uppercase;
    }
    button{
      @include button;
      margin: 20px 0 0 20px;
    }

  }
}

#section5{
  height: 730px;
  background-image: url(../IMG/imgsection5.jpg);
  background-position: center;
  text-align: center;
  h2{
    font-size: 36px;
    font-family: 'Aleo', serif;
    margin-top: 7%;
  }
  display: grid;
  grid-template-rows: 245px 283px;
}

#sect5div{
  max-width: 1110px;
  margin: 0 auto;
  grid-row: 2/ 3;
  display: grid;
  text-align: start;
  div:nth-of-type(1){
    background-image: url(../IMG/sect5img1.jpg);
    background-position: center;
    width: 445px;
    height: 283px;
  }
  div:nth-of-type(2){
    background-color: #333333;
    grid-column: 2/ 3;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.5px;
    span{
      margin-left: 20px;
    }
  } 
  p{
    margin: 4% 6%;
  }
  p:nth-of-type(1){
    font-size: 20px;
  }
}

footer{
  height: 270px;
  background-color: #232323;
  text-align: center;
  p:nth-child(1){
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    padding-top: 80px;
    letter-spacing: 0.8px;
  }
  p:nth-child(2){
    font-size: 16px;
    margin-bottom: 2%;
  }
  a{
    padding: 0 8px;
  }
}


@import 'media.scss';
